<div>
  <mat-nav-list class="sidenav-main-menu">
      <a mat-list-item routerLink="home" routerLinkActive="active" matTooltip="Home" disableRipple>
          <span class="list-item">
              <mat-icon>home</mat-icon>
              <span>Home</span>
          </span>
      </a>
      <a mat-list-item routerLink="events" routerLinkActive="active" matTooltip="Events" disableRipple>
          <span class="list-item">
              <mat-icon>receipt</mat-icon>
              <span>Events</span>
          </span>
      </a>
  </mat-nav-list>
</div>
