@import '../../../assets/scss/variables';

$menu-bg: map-get($site-colors, primary);
$menu-fg: map-get($site-colors, light);
$menu-opacity: 0.8;
.mat-list-base {
  padding-top: 0px !important;
}
.sidenav-main-menu {
    a {
      height: auto;
      opacity: $menu-opacity;
      border-left: 3px solid rgba(0,0,0,0);
      transition: border 500ms cubic-bezier(0.35, 0, 0.25, 1);
      span.list-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $menu-fg;
        .mat-icon {
          font-size: 2rem;
          width: 2rem;
          height: 2rem;
          margin-bottom: 0;
        }
        span {
          font-weight: 300;
          font-size: 12px;
          margin: 0;
        }
      }
    }
    a:hover {
      opacity: 1;
    }
    a.active {
      border-left: 3px solid $menu-fg;
      background-color: darken($menu-bg, 4);
      opacity: 1;
    }
  }
