@import '../assets/scss/variables';


$sidenav-bg: map-get($site-colors, primary);
$sidenav-fg: map-get($site-colors, light);
$sidenav-opacity: 0.8;
$content-bg: map-get($site-colors, grey1);
.main-content-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: $site-header-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  .mat-sidenav-container {
    color: inherit;
    background-color: inherit;
  }
}
.mat-drawer-container {
  height: 100% !important;
}
.mat-sidenav.sidenav-main {
  position: fixed;
  box-shadow: none;
  background-color: $sidenav-bg;
  div.close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem;
    min-height: $site-header-height;
    div {
      a {
        color: $sidenav-fg;
        opacity: $sidenav-opacity;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}

