<div class="grid-x grid-margin-x align-center">
  <div class="cell small-12 medium-4 u-mb-1">
    <a routerLink="/events">
      <mat-card class="goto-event u-bg-secondary u-bg-hvr-alpha25 position-relative u-cursor-pointer">
        <div class="goto-event-icon u-circle u-circle-0 u-bg-light">
          <mat-icon class="u-fg-alpha50">navigate_next</mat-icon>
        </div>
        <div class="u-fg-light">
          <h2 class="u-m-1">Show Events</h2>
        </div>
      </mat-card>
    </a>
  </div>
</div>
